#bigname {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    line-height: 95px;

    position: relative;
    
    left: 50px;
   
}

#profile1{
    max-width: 50%;
    position: relative;
    left: 50;
    padding-top: 10px;
    float: right;
}

#pinksq{
    /* position: absolute;
    left:155px;
    top: 400px; */
    max-width: 20%;
}

body {
    background-color: #FAF4E9;
}

.heading{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 30px;
}

.bodies{
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 15px;
}

